/*#cv-form {
  display: none;
}*/

#cv-template {
  display: none;
}

.myimg {
  border: 1px solid;
  border-radius: 50%;
}

.background {
  background-color: cadetblue;
  width: max-content;
}
.background_head {
  background-color: cadetblue;
}
